/* Window and Dialogs */
.main_window {
	color: white;
	background-color: #3465A4;
}

.dialogs {
	color: white;
	background-color: #3465A4;
}

/* Console Buttons */
.btn_base {
	font-size: 30px;
	font-weight: bold;
	color: black;
	padding: 20px;
	margin: 2px;
	border: 2px solid gray;
	border-radius: 25px;
}

.btn_p1_plus, .btn_p2_plus {
	background-color: blue;
}

.btn_p1_minus, .btn_p2_minus {
	background-color: red;
}

.btn_select {
	background-color: green;
}

/* Main Window */
.player_1_set_counter, .player_2_set_counter {
	color: orange;
	font-size: 80px;
	font-weight: bold;
	background-color: rgb(17, 47, 71);
	border: 2px solid gray;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 25px;
}

.player_serve_indicator {
	background-color: white;
	border-radius: 50%;
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.player_1_name, .player_2_name {
	color: azure;
	font: 80px "Arial, Helvetica, sans-serif";
}

.player_1_score, .player_2_score {
	color: red;
	font-size: 300px;
	background-color: rgb(17, 47, 71);
	font-weight: bold;
	border: 2px solid gray;
	border-radius: 25px;
}

.game_mode {
	font-size: 40px;
	font-weight: bold;
	color: chartreuse;
	margin-top: 40px;
	margin-bottom: 0px;
}

.next_players {
	font-size: 40px;
	border-bottom: 2px solid white;
}

.next_player_name {
	font-size: 40px;
}

.current_time {
	color: #d3d7cf;
	font-size: 40px;
	font-weight: bold;
	border: 2px dotted white;
	margin-right: 40px;
	margin-left: 40px;
	background-color: rgb(17, 47, 71);
	margin-left: 40px;
}

.game_duration {
	color: yellow;
	font-size: 40px;
	font-weight: bold;
	background-color: rgb(17, 47, 71);
	margin-right: 40px;
	margin-left: 40px;
	border: 2px solid white;
}

/* Multiple Selection Dialog  */
.unselected_item {
	font-size: 40px;
	margin: 40px;
}

.selected_item {
	font-size: 40px;
	font-weight: bold;
	border: 2px solid gray;
	background-color: #204A87;
	color: white;
	margin-left: 30px;
	margin-right: 30px;
}

.multiple_selection_dialog_description {
	font-size: 40px;
	padding: 40px;
}

/* Player selection Dialog */
.player_selection_dialog_selected_user {
	font-size: 40px;
	font-weight: bold;
	border: 2px solid gray;
	margin: 40px;
	background-color: #204A87;
	color: white;
}

.player_reader_rfid {
	font-size: 30px;
	color: yellow;
}

.player_reader_name {
	font-size: 40px;
}

/* Game Over Dialog*/
.game_over_dialog_description {
	font-size: 80px;
	padding: 40px;
	border-bottom: 2px double gray;
	padding-bottom: 40px;
	color: yellow;
}

.game_over_dialog_winner_name {
	font-size: 60px;
	color: #fcaf3e;
	padding-bottom: 40px;
	padding-top: 40px;
}

.game_over_dialog_winner_sets {
	font-size: 40px;
	margin-bottom: 0;
	padding-bottom: 10px;
	margin-top: 0;
	padding-top: 0;
}

.game_over_dialog_winner_msg {
	font-size: 40px;
	padding-top: 20px;
}

/* Descriptions */
.player_reader_dialog_description, .player_selection_dialog_description, .player_remove_dialog_description {
	font-size: 40px;
}
